@charset "UTF-8";
@media all and (max-width: 2000px) and (min-width: 1200px) {
  #content_book-wiki {
    margin: 0 auto;
    font-size: inherit;
    }
    #book_article-wiki {
      max-width: 50%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 300px) {
  #style-main {
    margin-left: 3%;
    margin-right: 3%;
  }
  #book_article-wiki #table-of-contents {
    font-size: 0.966415em;
  }  
  #book_article-wiki p {
    font-size: 0.966415em;
  }
  #book_article-wiki ul {
    font-size: 0.966415em;
  }
}
@media screen and (max-width: 300px) and (min-width: 0px) {
  #content_book-wiki {
    margin: 0;
  }
  main {
    width: 97.2vw;
  }
  #article-content {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 6.4427666667vw;
  }
}
@font-face {
    font-family: 'LinuxLibertineOalternateW';
    src: url('LinLibertine_R-altw.woff2') format('woff2'),
        url('../fonts/LinLibertine_R-altw.woff') format('woff')
        url('../fonts/LinLibertine_R-altw.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TINY5x3-80';
  src: url('../fonts/TINY5x3-80.woff2') format('woff2'),
  url('../fonts/TINY5x3-80.woff') format('woff');
}
/* Webfont: WCManoNegraBta */@font-face {
  font-family: 'WCManoNegraBta';
  src: url('../fonts/WCManoNegraBta.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WCManoNegraBta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WCManoNegraBta.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WCManoNegraBta.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/WCManoNegraBta.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* NOTE: meaning-of-life_answer source from https://www.gradient-animator.com/  */
@-webkit-keyframes meaning-of-life_answer {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}
@-moz-keyframes meaning-of-life_answer {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}
@-o-keyframes meaning-of-life_answer {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}
@keyframes meaning-of-life_answer {
  0%{background-position:0% 33%}
  50%{background-position:100% 68%}
  100%{background-position:0% 33%}
}
/* NOTE: End of Code  */
/* NOTE: meaning-of-life_background source from https://www.gradient-animator.com/  */
@-webkit-keyframes meaning-of-life_background {
  0%{background-position:19% 0%}
  50%{background-position:82% 100%}
  100%{background-position:19% 0%}
}
@-moz-keyframes meaning-of-life_background {
  0%{background-position:19% 0%}
  50%{background-position:82% 100%}
  100%{background-position:19% 0%}
}
@keyframes meaning-of-life_background {
  0%{background-position:19% 0%}
  50%{background-position:82% 100%}
  100%{background-position:19% 0%}
}
@keyframes transition-effect-progress {
  0% {
      transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50%);
}
100% {
    transform: translateX(0%);
  }
}
/* NOTE: End of Code  */
/* ----------------------------------------------
 * Generated by Animista on 2021-4-23 15:5:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */
 @keyframes rotate-scale-down {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
/**
 * ----------------------------------------
 * animation bg-pan-top
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
/**
 * ----------------------------------------
 * animation slide-out-tr
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-tr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
            transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-tr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
            transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}
/* NOTE: indexbody-image-two  */
@-webkit-keyframes hero-parallax {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}
@-moz-keyframes hero-parallax {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}
@-o-keyframes hero-parallax {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}
@keyframes hero-parallax {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}
/* End of Code */
/* NOTE:  Scroll behavior referenced from W3schools article "How TO - Smooth Scroll" https://www.w3schools.com/howto/howto_css_smooth_scroll.asp*/
html {
  width: 100%;
  height: 100%;
  font-size: 25.81px;
  scroll-behavior: smooth;
}
.part_font-style {
  font-family: 'WCManoNegraBta', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 8.3107322743vw;
  color: #00ff80;
  text-align: center;
  -webkit-text-stroke: 0.75px black;
}
.part_font-style-2 {
  font-family: 'WCManoNegraBta', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.6636962418vw;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 2%;
}
/* Note: Body margin and padding attributes referenced from article "Header not touching top of screen" https://stackoverflow.com/questions/16204059/header-not-touching-top-of-screen */
#large_search_bar-content::selection {
  background: rgba(255, 217, 151, 0.7); /* WebKit/Blink Browsers */
  color: #063448;
}
#large_search_bar-content::-moz-selection {
  background: rgba(255, 217, 151, 0.7); /* Gecko Browsers */
  color: #063448;
}
#article-content h1::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content h1::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content h2::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content h2::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content h3::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content h3::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content h4::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content h4::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content h5::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content h5::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content h6::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content h6::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content p::selection {
  background: rgba(102, 255, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ff7d7d;
}
#article-content p::-moz-selection {
  background: rgba(102, 255, 255, 0.7); /* Gecko Browsers */
  color: #ff7d7d;
}
#article-content p a::selection {
  background: rgba(102, 51, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ffd997;
}
#article-content p a::-moz-selection {
  background: rgba(102, 51, 255, 0.7); /* WebKit/Blink Browsers */
  color: #ffd997;
}
#article-content p a:hover::selection {
  background: rgba(102, 51, 255, 0.7); /* WebKit/Blink Browsers */
  color: #99ffcc;
}
#article-content p a:hover::-moz-selection {
  background: rgba(102, 51, 255, 0.7); /* WebKit/Blink Browsers */
  color: #99ffcc;
}
#article-content p a:active::selection {
  background: rgba(102, 51, 255, 0.7); /* WebKit/Blink Browsers */
  color: #99ffcc;
}
#article-content p a:active::-moz-selection {
  background: rgba(102, 51, 255, 0.7); /* WebKit/Blink Browsers */
  color: #99ffcc;
}
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#body-login {
  width: 100%;
  height: auto;
}
.support {
  width: 100%;
  height: auto;
}
.transition-effect-progress {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 100%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 0.755891s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17, .67, .83, .67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
}
.transition-effect-progress-two {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 0.45%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 3s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17,.67,.83,.67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
  box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -moz-box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -webkit-box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -khtml-box-shadow: 0px 0px 5px rgb(223, 223, 223);
}
.transition-effect-progress-three {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 100%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 0.3779455s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17, .67, .83, .67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
}
.transition-effect-progress-four {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 0.45%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 2s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17,.67,.83,.67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
  box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -moz-box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -webkit-box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -khtml-box-shadow: 0px 0px 5px rgb(223, 223, 223);
}
.transition-effect-progress-five {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 100%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 1.63345101s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17, .67, .83, .67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
}
.transition-effect-progress-six {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 100%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 0.759670455s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17, .67, .83, .67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
}
.transition-effect-progress-seven {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 0.45%;
  background: linear-gradient(-45deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 100% 0.45%;
  -webkit-animation: meaning-of-life_background 0.01s ease infinite;
  -moz-animation: meaning-of-life_background 0.01s ease infinite;
  animation: meaning-of-life_background 0.01s ease infinite;
  left: 0;
  top: 0;
  animation-duration: 5s; /* the duration of the animation */
  animation-timing-function: cubic-bezier(.17,.67,.83,.67); /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: transition-effect-progress; /* the name of the animation we defined above */
  transform: scale(0);
  box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -moz-box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -webkit-box-shadow: 0px 0px 5px rgb(223, 223, 223);
  -khtml-box-shadow: 0px 0px 5px rgb(223, 223, 223);
}
.tracking-in-expand {
	animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 1s;
}
.scale-in-center {
	animation: scale-in-center 0.755891s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.rotate-scale-down {
	animation: rotate-scale-down 0.4s linear 3.8s both;
}
.text-focus-in {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.animation-target {
  -webkit-animation: animation 3000ms linear both;
  animation: animation 3000ms linear both;
  animation-delay: 10s;
}
.kenburns-top {
	-webkit-animation: kenburns-top 20s ease-out infinite alternate both;
	        animation: kenburns-top 20s ease-out infinite alternate both;
}
.bg-pan-top {
	-webkit-animation: bg-pan-top 20s infinite alternate-reverse both;
	        animation: bg-pan-top 20s infinite alternate-reverse both;
}
#slide-out-tr {
	-webkit-animation: slide-out-tr 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s both;
	        animation: slide-out-tr 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s both;
}
/* NOTE:  End of code */
.wrapper-hero-parallax {
  width: 100%;
}
.hero-parallax {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg') no-repeat center center fixed;
  background-size: 400% 400%;
  -webkit-animation: hero-parallax 58s ease infinite;
  -moz-animation: hero-parallax 58s ease infinite;
  -o-animation: hero-parallax 58s ease infinite;
  animation: hero-parallax 58s ease infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  text-align: center;
}
.hero-parallax-2 {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(142deg, #86bce1, #80e8cd, #acd089, rgb(215, 225, 134, 0.5), rgb(225, 203, 134, 0.5), rgb(153, 146, 122, 0.5), rgb(108, 115, 210, 0.5), rgb(148, 154, 234, 0.5)), url('https://wikimediafoundation.org/wp-content/uploads/2020/11/Wikipedia-English-Fundraiser-2020.png') no-repeat center center fixed;
  background-size: 400% 400%;
  -webkit-animation: hero-parallax 58s ease infinite;
  -moz-animation: hero-parallax 58s ease infinite;
  -o-animation: hero-parallax 58s ease infinite;
  animation: hero-parallax 58s ease infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  text-align: center;
}
.header-style {
  background: linear-gradient(-245deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65), rgba(10, 10, 118, 0.65), rgba(6, 69, 173, 0.65), rgba(178, 125, 21, 0.65), rgba(229, 153, 2, 0.65), rgba(45, 174, 110, 0.65)), url('https://upload.wikimedia.org/wikipedia/commons/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg');
  background-size: 200% 200%;
  -webkit-animation: meaning-of-life_answer 58s ease-in-out infinite;
  -moz-animation: meaning-of-life_answer 58s ease-in-out infinite;
  -o-animation: meaning-of-life_answer 58s ease-in-out infinite;
  animation: meaning-of-life_answer 58s ease-in-out infinite;
  filter:brightness(150%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;      
  color: white;
  font-size: 19.1786129407vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.hero-parallax_server-status {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: url('../img/undraw_server-status-illustration@4x-100.jpg') no-repeat center center fixed;
  background-size: 400% 400%;
  -webkit-animation: hero-parallax 58s ease infinite;
  -moz-animation: hero-parallax 58s ease infinite;
  -o-animation: hero-parallax 58s ease infinite;
  animation: hero-parallax 58s ease infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  text-align: center;
}
.header-style_server-status {
  background: linear-gradient(-245deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65), rgba(10, 10, 118, 0.65), rgba(6, 69, 173, 0.65), rgba(178, 125, 21, 0.65), rgba(229, 153, 2, 0.65), rgba(45, 174, 110, 0.65)), url('../img/undraw_server-status-illustration@2x-100.jpg');
  background-size: 200% 200%;
  -webkit-animation: meaning-of-life_answer 58s ease-in-out infinite;
  -moz-animation: meaning-of-life_answer 58s ease-in-out infinite;
  -o-animation: meaning-of-life_answer 58s ease-in-out infinite;
  animation: meaning-of-life_answer 58s ease-in-out infinite;
  filter:brightness(150%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;      
  color: white;
  font-size: 8vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
h1 {
  margin: 0 auto;
  width: 50%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}
h3, h4, h5, h6 {
  margin-bottom: 0.785em;
}
h1, h2 {
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 500;
}
h5, h6 {
  font-weight: 400;
}
h1 {
  font-size: 2.1309569934134056em;
}
h2 {
  font-size: 1.7520340953118947em;
}
h3 {
  font-size: 1.4850833010461062em;
}
h4 {
  font-size: 1.3560635412630764em;
}
h5 {
  font-size: 1.2270437814800466em;
}
h6 {
  font-size: 1.0976365749709416em;
}
p {
  font-size: 1em;
  margin-bottom: 0.785em;
}
a {
  color: #0645AD;
  transition: ease-in-out;
  transition-duration: 0.18s;
  text-decoration: none;
}
a:link {
  color: #0645AD;
  transition: ease-in-out;
  transition-duration: 0.18s;
  text-decoration: none;
}
a:visited {
  color: #0A0A76;
}
a:hover {
  color: #E59902;
  transition: ease-in-out;
  transition-duration: 0.18s;
  text-decoration: none;
}
a:active {
  color: #E59902;
  transition: ease-in-out;
  transition-duration: 0.18s;
  text-decoration: none;
}
/* Note: Code snippets referenced from article(s) "Can ordered list produce result that looks like 1.1, 1.2, 1.3 (instead of just 1, 2, 3, …) with css?" https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1 and "Is there a way to make numbers in an ordered list bold?" https://stackoverflow.com/questions/21369843/is-there-a-way-to-make-numbers-in-an-ordered-list-bold [beginning of code snippets], modified by designer of code (Jonathan Hackner) */
ol {
  counter-reset: item;
}
ol li{
  display: block;
}
ol li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  font-weight: 600;
}
/* Note: end of code snippet */
header {
  margin: auto;
}
#w-letter {
  font-family: "LinuxLibertineOalternateW";
  font-size: 2.2375048431em;
  font-weight: 400;
  font-style: normal;
}
.header-type {
  font-family: halyard-display, sans-serif;
  font-size: 1.0976365749709416em;
  font-weight: 400;
  font-style: normal;
}
#main-nav-container::before {
  width: 100%;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: -1ch;
}
#header_nav {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)) right bottom no-repeat;
  border-image-slice: fill;
  background-size: 100% 0.05em;
}
#header_nav-two {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}
/* Note: Header margin attribute referenced from article "HTML nav bar will not touch the top of the page [duplicate]" https://stackoverflow.com/questions/40731551/html-nav-bar-will-not-touch-the-top-of-the-page */
#header_nav-two ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* End of code */
#header_nav-two li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-family: halyard-display, sans-serif;
  font-size: 1.0976365749709416em;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
}
/* Note: Header margin attribute referenced from article "HTML nav bar will not touch the top of the page [duplicate]" https://stackoverflow.com/questions/40731551/html-nav-bar-will-not-touch-the-top-of-the-page */
#header_nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* End of code */
#header_nav li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-family: halyard-display, sans-serif;
  font-size: 1.0976365749709416em;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
}
#footer_nav {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)) right top no-repeat;
  border-image-slice: fill;
  background-size: 100% 0.05em;
}
#footer_nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
#footer_nav li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-family: halyard-display, sans-serif;
  font-size: 1.0976365749709416em;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
}
#footer_nav-two {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}
#footer_nav-two ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
#footer_nav-two li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-family: halyard-display, sans-serif;
  font-size: 1.0976365749709416em;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
}
.header_nav-right-items {
  float: right;
  margin-left: 2.5%;
}
.header_nav-right-items a {
  color: black;
}
.header_nav-right-items a:hover {
  color: #E59902;
}
.header_nav-right-items a:active {
  color: #E59902;
}
.header_nav-right-items a:focus {
  color: #E59902;
}
#selected-nav-item {
  color: #E59902;
}
#book_article-wiki {
  margin: auto;
}
#book_article-wiki p, ul, ol, h1, h2, h3, h4, h5, h6, footer {
  text-align: left;
}
#book_article-wiki h3, h4, h5, h6 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
}
#book_article-wiki p, ul, ol, footer {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-style: normal;
}
.header_line {
  width: 50%;
  margin: 0 auto;
  height: 3.371232px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
  border-style: none;
  margin-top: 0 auto;
  margin-bottom: 1.57em;
}.header_line-main {
  width: 50%;
  margin: 0 auto;
  height: 3.371232px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
  border-style: none;
  margin-top: 0 auto;
  margin-bottom: 1.57em;
  display: table-cell;
  vertical-align: bottom;
}

.header_line-paragraph {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
  border-style: none;
  margin-top: -0.785em;
  margin-bottom: 1.0466666667em;
}
#table-of-contents nav ol {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.right_images {
  width: 60%;
  padding-left: 1%;
  margin-left: 1%;
  padding-bottom: 1%;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: black;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  float: right;
}
.left_images {
  width: 60%;
  margin-right: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: black;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  float: left;
}
.full_images {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.double_images {
  width: 50%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  float: left;
}
.triple_images {
  width: 33.3333333333%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  float: left;
}
/* Note: Content reviewed and referenced from for center alignment https://www.w3schools.com/howto/howto_css_image_center.asp */
.center_images {
  width: 50%;
  margin-left: auto;
  margin-top: 3%;
  margin-right: auto;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: block;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: black;
}
#sisterprojects_block {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
#sisterprojects_block li {
  margin-bottom: 4%;
}
#status_block {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
#status_block li {
  margin-bottom: 4%;
}
.logo_sisterprojects {
  width: 10%;
  margin-right: 3%;
  vertical-align: middle;
}
.emoji_status {
  width: 10%;
  margin-right: 3%;
  vertical-align: middle;
}
form {
  font-size: 25.81px;
  margin: auto;
}
input {
  width: 35vw;
  height: 4vw;
  display: block;
  font-size: 25.81px;
  padding: 1%;
  caret-color: #E59902;
  transition: ease-in-out 0.2s;
}
input:hover {
  color: lightgray;
  background-color:rgba(78, 78, 78, 1);
  border: none;
  transition: ease-in-out 0.2s;
}
input:active {
  background-color:rgba(78, 78, 78, 1);
  border: none;
  transition: ease-in-out 0.2s;
}    
input:focus-within {
  color: lightgray;
  background-color:rgba(78, 78, 78, 1);
  border: none;
  transition: ease-in-out 0.2s;
}
label {
  display: block;
  margin-bottom: 1%;
}
#language-options_account {
  width: 35vw;
  height: 6vw;
  font-size: 1.1820701577vw;
  padding: 1%;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  transition: ease-in-out 0.2s;
}
#language-options_account-text {
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.button-settings {
  display: block;
  width: 40vw;
  height: 6.3vw;
  font-size: 25.81px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 10vw;
  border: none;
  background-color: black;
  transition: ease-in-out 0.2s;    
}
.button-settings:hover {
  background-color:#E59902;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.button-settings:active {
  background-color:#E59902;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.button-settings-two {
  display: block;
  width: 40vw;
  height: 6.3vw;
  font-size: 25.81px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 10vw;
  border: none;
  background-color: #0645AD;
  transition: ease-in-out 0.2s;    
}
.button-settings-two:hover {
  background-color:#E59902;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.button-settings-two:active {
  background-color:#E59902;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
#button-settings-three-text {
  display: block;
  transform: skew(23deg);
  font-size: 1.534210vw;
  font-family: halyard-display, sans-serif;
  font-weight: 100;
  font-style: normal;
  background: linear-gradient(296deg, #0a0a76, #0645ad, #b27d15, #e59902, #2dae6e);
  background-size: 800% 800%;
  -webkit-animation: meaning-of-life_answer 23s ease infinite;
  -moz-animation: meaning-of-life_answer 23s ease infinite;
  -o-animation: meaning-of-life_answer 23s ease infinite;
  animation: meaning-of-life_answer 23s ease infinite;    
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;      
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
}
.button-settings-three {
  display: block;
  width: 25vw;
  height: 3.465vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 auto;
  border: none;
  transform: skew(-23deg);
  background: rgba(201, 255, 247, 1); 
  transition: ease-in-out 0.2s;    
}
.button-settings-three:hover {
  background: rgba(229, 153, 2, 0.2);    
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.button-settings-three:active {
  background: rgba(229, 153, 2, 0.2);    
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.icon-button-wrapper {
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}
.icon-button {
  width: auto;
  height: 3.4vw;
  vertical-align: middle;
}
.icon-button-two-wrapper {
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  display: inline-block;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2592592593vw;
  vertical-align: text-bottom;
}
.icon-button-two {
  width: auto;
  height: 2.2666666667vw;
  display: inline-block;
}
#info-more-options {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1447811448vw;
}
.w-letter-logo-icon-wrapper::before {
  display: inline-block;
  vertical-align: middle;              
}
.w-letter-logo-icon-wrapper {
  margin: 0 auto;
  padding: 0 auto;
}
.w-letter-logo-icon {
  width: auto;
  height: 1.35em;
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}
.wikipedia-latest-theme-wordmark-wrapper::before {
  display: inline-block;
  vertical-align: middle;              
}
.wikipedia-latest-theme-wordmark-wrapper {
  margin: 0 auto;
  padding: 0 auto;
}
.wikipedia-latest-theme-wordmark {
  width: auto;
  height: 1.35em;
  display: inline-block;
  vertical-align: middle;
}
.wikipedia-logo-wordmark-wrapper {
  margin-top: 3.89188%;
  margin-bottom: 3.89188%;
}
.wikipedia-logo-wordmark {
  width: auto;
  height: 6.9498vw;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  pointer-events: none;
}
#banner-home_english {
  width: 100%;
  height: 7.5775em;
  margin-top: 0.97297%;
  pointer-events: none;
}
.wikipedia-logo-home-wrapper {
  margin-top: 5.85%;
}
.wikipedia-logo-home {
  width: auto;
  height: 4.9194444444em;
  display: block;
  margin: 0 auto;  
  margin: 0 auto;                        
}
#account-page {
  text-align: center;
}
form input {
  margin: 0 auto;
  padding: 0 auto;
}
#title_section h1 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 4%;
}
#footer_section {
  padding: 0;
  margin: 0;
}
#content_section {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
#content_section {
  text-align: center;
}
#message_login {
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;    
}
.information-section-account-choice {
  font-family: halyard-display, sans-serif;
  font-size: 1.1820701577vw;
}
label {
  font-family: halyard-display, sans-serif;
  font-size: 1.1820701577vw;
}
input[type=text], input[type=username], input[type=email], input[type=password] {
  font-family: halyard-display, sans-serif;
  font-size: 1.6205107253vw;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
}
input[type=submit] {
  font-family: halyard-display, sans-serif;
  font-size: 1.6205107253vw;
  color: lightgray;
  background-color: black;
  border: none;
}
input[type=submit]:hover {
  color: black;
  background-color: lightgray;
  border: none;
  transition: ease-in-out 0.2s;
}
input[type=submit]:active {
  color: black;
  background-color: lightgray;
  border: none;
  transition: ease-in-out 0.2s;
}
#checkbox_password {
  width: 1.2465467118vw;
  height: 1.2465467118vw;
  margin-left: 0.1%;
}
#checkbox_password-text {
  font-size: 1.6205107253vw;
}
#checkbox_tos {
  width: 1.2465467118vw;
  height: 1.2465467118vw;
  margin-left: 0.1%;
  margin-bottom: 4%;
}
#checkbox_tos-text {
  font-size: 1.6205107253vw;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#content-description {
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 1.6205107253vw;
  margin-left: 32.48%;
  margin-right: 32.48%;
}
/* Small Search Bar */
#small_search_bar-area::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#small_search_bar-area {
  width: 40.505vw;
  height: 3vw;
  margin-left: 14.5%;
  font-size: 25.81px;
  background-color: none;
  display: inline-block;
  outline: none;
}
#small_search_bar {
  width: 33.5vw;
  height: 3vw;
  font-size: 25.81px;
  background-color: lightgray;
  display: inline-block;
  border-radius: 10vw;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
}
#small_search_bar-content {
  width: 27vw;
  height: 3vw;
  margin-left: 4.4%;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25.81px;
  caret-color: #E59902;
  border: none;
  background-color: transparent;
  outline: transparent;
}
#small_ask_wiki-icon-frame {
  width: 3vw;
  height: 3vw;
  margin-left: 1%;
  display: table-cell;
  vertical-align: middle;
  background-color: inherit;
  border: transparent;
}
#small_ask_wiki-icon {
  width: 2.125vw;
  height: 2.125vw;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
}
#small_submit-search_icon {
  width: 10.625vw;
  height: 3vw;
  margin-left: 3.35%;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25.81px;
  border-radius: 10vw;
  display: table-cell;
  vertical-align: middle;
  color: lightgray;
  background-color: black;
  border: none;
}
/* Large Search Bar */
#large_search_bar {
  width: 67vw;
  height: 6vw;
  font-size: 25.81px;
  background-color: lightgray;
  border-radius: 10vw;
  margin: 0 auto;
  padding: 0 auto;
  border: none;
  outline: none;
  transition: ease-in-out 0.2s;
}
#large_search_bar form {
  display: inline-block;
}
#large_search_bar-content {
  width: 54vw;
  height: 6vw;
  margin-left: 4.4%;
  display: table-cell;
  vertical-align: middle;
  color: #0645AD;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8677777778vw;
  caret-color: #E59902;
  border: none;
  background-color: transparent;
  outline: transparent;
}
#large_search_bar-content::placeholder {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;  
}
#large_ask_wiki-icon-container {
  float: right;
  margin-right: 3%;
}
#large_ask_wiki-icon-frame{
  width: 6vw;
  height: 6vw;
  display: table-cell;
  vertical-align: middle;
  background-color: inherit;
  border: transparent;
}
#large_ask_wiki-icon {
  width: 4.25vw;
  height: 4.25vw;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 auto;
  transition: ease-in-out 0.2s;
}
#large_ask_wiki-icon:hover {
  width: 4.25vw;
  height: 4.25vw;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 auto;
  filter: sepia(98.5%) hue-rotate(3deg) saturate(2.7) brightness(0.945);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#large_ask_wiki-icon:active {
  width: 4.25vw;
  height: 4.25vw;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 auto;
  filter: sepia(98.5%) hue-rotate(3deg) saturate(2.7) brightness(0.945);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.wikiva_tooltip {
  position: relative;
  display: inline-block;
}
.wikiva_tooltip-text {
  width: 100%;
  visibility: hidden;
  background-color: black;
  color: white;
  font-family: halyard-micro,sans-serif;
  font-weight: 400;
  font-style: normal;        
  font-size: 0.9246505em;
  text-align: center;
  padding: 5.22555%;
  position: absolute;
  z-index: 1;
  top: 107px;
  left: 16px;
  margin-left: -20px;
  border-radius: 10em;
  filter: sepia(98.5%) hue-rotate(3deg) saturate(2.7) brightness(0.945);
}
.wikiva_tooltip .wikiva_tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.wikiva_tooltip:hover .wikiva_tooltip-text {
  visibility: visible;
}
#large_submit-search_icon-container {
  display: inline-block;
}
#large_submit-search_icon {
  width: 10.625vw;
  height: 3vw;
  margin-left: 3.35%;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25.81px;
  border-radius: 10vw;
  color: lightgray;
  background-color: black;
  border: none;
  transition: ease-in-out 0.2s;    
}
.sectioninfo {
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin: 0;
}
.result {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 0 auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 0 auto;
  color: black;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: lightgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgray;
  transition: ease-in-out 0.2s;
}
.result:hover {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 0 auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 0 auto;
  color: #0A0A76;
  background-color: lightgray;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.result:active {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 0 auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 0 auto;
  color: #0A0A76;
  background-color: lightgray;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.result figure {
  width: 33.3333333333%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
  vertical-align: top;
}
.result figure img {
  width: 57%;
  height: auto;
  margin-left: 7.5%;
}
.result figure figcaption {
  width: 57%;
  height: auto;
  margin-left: 7.5%;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 12.905px;
}
.result div {
  width: 57%;
  height: auto;
  display: inline-block;
}
.result div h4 {
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 51.62px;
}
.result div p {
  margin-top: -2.027%;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 25.81px;
}
.result div a p {
  margin-top: 1.2%;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 25.81px;
}
#meaning-of-life_background {
  background: linear-gradient(142deg, #86bce1, #80e8cd, #acd089, #d7e186, #e1cb86, #99927a, #6c73d2, #949aea);
  background-size: 1600% 1600%;
  -webkit-animation: meaning-of-life_background 38s ease infinite;
  -moz-animation: meaning-of-life_background 38s ease infinite;
  animation: meaning-of-life_background 38s ease infinite;
}
.meaning-of-life_answer {
  width: 100%;
  height: auto;
  margin: 0;
  background: linear-gradient(296deg, #0a0a76, #0645ad, #b27d15, #e59902);
  background-size: 800% 800%;
  -webkit-animation: meaning-of-life_answer 23s ease infinite;
  -moz-animation: meaning-of-life_answer 23s ease infinite;
  -o-animation: meaning-of-life_answer 23s ease infinite;
  animation: meaning-of-life_answer 23s ease infinite;    
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;      
}
#description {
  width: 35vw;
  height: 10vw;
  min-height: 10vw;
  margin-bottom: 5%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  caret-color: #E59902;
  resize: vertical;
}
.table-sd {
  overflow-x: auto;
}
.table-sd table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-sd td {
  text-align: left;
}
/* Source References */
/* W3Schools — https://www.w3schools.com/ — Source references */
/* 
https://www.w3schools.com/howto/howto_css_stacked_form.asp
https://www.w3schools.com/css/css_form.asp
https://www.w3schools.com/css/css_background_repeat.asp
https://www.w3schools.com/css/css3_object-fit.asp
https://www.w3schools.com/cssref/pr_background-position.asp
https://www.w3schools.com/css/css_align.asp
https://www.w3schools.com/css/css_tooltip.asp
https://www.w3schools.com/howto/howto_css_tooltip.asp
https://www.w3schools.com/howto/howto_css_searchbar.asp
https://www.w3schools.com/tags/att_form_action.asp
https://www.w3schools.com/html/html_accessibility.asp
https://www.w3schools.com/cssref/pr_text_white-space.asp
https://www.w3schools.com/html/html_entities.asp
https://www.w3schools.com/css/css_inline-block.asp
https://www.w3schools.com/css/css_navbar_horizontal.asp
https://www.w3schools.com/cssref/css3_pr_justify-content.asp
https://www.w3schools.com/css/css3_variables.asp
https://www.w3schools.com/tags/att_placeholder.asp
https://www.w3schools.com/tags/att_form_method.asp
https://www.w3schools.com/cssref/sel_placeholder.asp
https://www.w3schools.com/howto/howto_css_placeholder.asp
https://www.w3schools.com/howto/howto_js_toggle_password.asp
*/
/* W3C — https://www.w3.org/ — Source references */
/*
https://www.w3.org/Style/Examples/007/center
https://www.w3.org/International/questions/qa-html-encoding-declarations
https://www.w3.org/WAI/tutorials/page-structure/headings/
*/
/* Stack Overflow — https://stackoverflow.com/ — Source references */
/*
https://stackoverflow.com/questions/34581440/text-extends-outside-button-html
https://stackoverflow.com/questions/23751274/can-we-set-a-gradient-color-to-border-bottom-property
https://stackoverflow.com/questions/64189898/how-can-i-align-a-svg-element-with-text
https://stackoverflow.com/questions/30017142/select-html-tag-text-cut-in-half/30041194
https://stackoverflow.com/questions/30692101/text-gets-cut-when-using-select
https://stackoverflow.com/questions/20300138/is-it-possible-to-add-placeholder-in-div-tag/20300450
https://stackoverflow.com/questions/5805059/how-do-i-make-a-placeholder-for-a-select-box
https://stackoverflow.com/questions/32455317/placeholder-in-p-tag

*/
/* CSS-Tricks — https://css-tricks.com/ — Source references */
/*
https://css-tricks.com/almanac/properties/f/filter/
https://css-tricks.com/almanac/properties/b/background-repeat/
https://css-tricks.com/centering-css-complete-guide/
https://css-tricks.com/snippets/css/absolute-center-vertical-horizontal-an-image/
https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
https://css-tricks.com/almanac/properties/v/vertical-align/
https://css-tricks.com/snippets/css/using-font-face/
https://css-tricks.com/gradient-borders-in-css/
https://css-tricks.com/forums/topic/how-do-i-change-images-on-mouseover/
https://css-tricks.com/select-cuts-off-options-in-ie-fix/
https://css-tricks.com/almanac/selectors/p/placeholder/

*/
/* MDN Web Docs: Mozilla and individual contributors — https://developer.mozilla.org/en-US/ — Source references */
/*
https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder
https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/alignment-baseline
https://developer.mozilla.org/en-US/docs/Learn/Forms/Sending_and_retrieving_form_data
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/password   
*/
/* HTML.com — https://html.com/ — Source references */
/*
https://html.com/attributes/form-method/
*/
/* Reddit — https://www.reddit.com/ — Source references */
/*
https://www.reddit.com/r/css/comments/7svt3x/text_inside_select_is_cut_off_not_because_of/
*/

/* Additional Sources — Source references */
/* https://realfavicongenerator.net/ */

